{% extends "base.html" %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<link type="text/css" rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<script src='https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js'></script>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/index.css') }}">
{% endblock %}

{% block body %}
<div class="main-container d-flex flex-column justify-content-center align-items-center">
    <div>
        <img id="cv" alt="" src="{{ url_for('video_feed') }}">
    </div>
    <div id="loading">
        <img alt=""
             src="https://media1.giphy.com/media/QPQ3xlJhqR1BXl89RG/giphy.gif">
    </div>
    <!--    <video controls width="50%" height="auto">-->
    <!--        <source src="{{ url_for('static', filename = 'videos/sample.mp4') }}" TYPE="video/mp4">-->
    <!--    </video>-->
    <h5 id="cv-text" class="text">Calibrate angle...</h5>
    <h5 id="loading-text" class="text">Loading...</h5>
    <div class="d-flex">
        <button onclick="recalibrate('ANGLE')" class="btn btn-primary mr-1">Recalibrate angle</button>
        <button onclick="recalibrate()" class="btn btn-secondary ml-1">Re-spit</button>
    </div>
</div>
{% endblock %}

{% block footer %}
<script type="text/javascript" src="{{ url_for('static', filename = 'js/index.js') }}"></script>
{% endblock %}